<html>
  <head>
    <title>New TODO</title>
  </head>
  <body>
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    <h1>New TODO</h1>
    <form action="/todos" method="post">
      <input type="text" name="title" id="todo_title" required>
      <input type="text" name="content" id="todo_content">
      <input type="submit" value="Create new TODO">
    </form>
  </body>
</html>
